<%- include('../partials/header.ejs')%>
<article>
    <div class="tradeMain">

        <div class="img-details">
            <div class="tradeImage">
            <img src="/images/<%= trade.image %>" alt="airpodsMax">
            </div>

            <h1 id="TradeName"> <%= trade.name %></h1>
            <h3> by <%= trade.company %> </h3>
                <hr class="hrdesign"> 
            <div class="detail"> <h1> Details</h1> <p> 
                <%= trade.details %> 
            </p></div>
            <form>
            <div class="buttonChangeTrade">
                <button class="buttonEditTrade" type="submit" formmethod="GET" formaction="/index/<%= trade.category %>/<%= trade.id %>/edit">Edit</button>
            
                <button class="buttonDeleteTrade" type="submit" formmethod="POST" formaction="/index/<%= trade.category %>/<%= trade.id %>?_method=DELETE"> Delete  </button>
            </div>
        </form>
        </div>
       

        <div class="reviewContents">

            <div class="review"> 
                Are you interested in the <%= trade.category%> ?
                <br>
                <br>
                <div class="buttonGrid">
                    <a href="/index" class="buttonReviewTrade"> Trade it </a>
                    <a href="/index" class="buttonReviewRate"> Rate it </a>
                </div>
                <br>
                <br>
            </div>

            <div class="detail">

            </div>
            
        </div>

    </div>

    
</article>
<%- include('../partials/footer.ejs')%>
